{% extends './base.html' %}


{% block title %}主页{% endblock %}


{% block cssext %}
<style>
.content_div {
	clear: both;
	padding-top: 20px;
	list-style: none;
	padding: 1px 0 0 1px;
}
.content_div li {
	margin-bottom: 25px;
}
.sticky_posts_tag {
	color: red;
}
a:hover,
a:focus {
	text-decoration: none;
}
.post_abstract:hover,
.post_abstract:focus,
.post_abstract
{
	color: black;
	text-decoration: none;
}
.tags_div {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tags_div li {
	float: left;
}
.page-div {
	padding-top: 5px;
	padding-right: 20px;
}
.page-button {
	font-size: 1.6em;
	border-radius: 3px;
	border-color: black;
	padding: 5px 19px;
    background-color: #fff;
    border: 1px solid #ddd;
}
</style>
{% endblock%}


{% block content %}
{% if blog.desc %}
<br>
<p style="font-size: x-large;"><i>{{ blog.desc }}</i></p>
<hr>
{% endif %}
<div class="row">
	<div class="col-md-9">
		<ul class="content_div">
			{% if current_page == 1 %}
			{% for post in sticky_posts %}
			<li>
				<h3><a href="{% url 'posts_detail' post.slug %}"><span class="sticky_posts_tag">[置顶]</span> {{ post.abstract }}</a></h3>
			</li>
			{% endfor %}
			{% endif %}
			{% for post in posts %}
			<li>
				<a href="{% url 'posts_detail' post.slug %}">
				<h3>{{ post.title }}</h3>
				<p class="post_abstract">{{ post.rendered_html | truncatechars_html:250 | striptags }}</p>
				</a>
				<p>
				<span class="text-muted" style="font-size: 0.8em;"><script>document.write(moment('{{ post.last_modified_time | date:"c" }}').fromNow());</script></span>
				</p>
			</li>
			{% endfor %}
		</ul>
		<div class="page-div">
			{% if next_page_url %}
			<a href="{{ next_page_url }}" class="page-button">← Older</a>
			{% endif %}
			{% if prev_page_url %}
			<a href="{{ prev_page_url }}" class="page-button pull-right">Newer →</a>
			{% endif %}
		</div>
	</div>
	<div class="col-md-3">
		<ul class="tags_div">
		{% for tag in tags %}
			<li><a class='btn' href='{% url "posts_list" %}?tags={{tag}}'>{{ tag }}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}