{% extends './base.html' %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/note/index.css' %}">
<style>
/* common */
.box {
	display: flex;
}
.box-col {
	display: flex;
	flex-direction: column;
}
.y-scroll {
	overflow-y: auto;
}
.stretch {
	flex-grow: 1;
}
.full-height {
	height: 100%;
}
.bolder {
	font-weight: bolder;
}
.border0 {
	border: 0;
}
.margin0 {
	margin: 0;
}
.padding {
	padding: 0;
}
</style>
{% endblock %}


{% block js %}
<script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
<script src="{% static 'js/common/common.js' %}"></script>
<script>
var account_logout = function(){
	$.ajax({
		url: "{% url 'account_logout' %}",
		method: 'POST',
		headers: {
			'X-CSRFToken': getCookie('csrftoken'),
		},
		complete: function() {
			window.location = '{% url "index" %}';
		}
	})
}
</script>



<script type="text/x-template" id="note-blogs-template">
	<div>
		<div>
		<span v-on:click='btn_click($event, "setting")'>${ model.name }</span>
		<a :href="'//' + model.url" target="_blank" class="pull-right">open</a>
		</div>
		<ul v-show='show'>
			<li v-on:click='btn_click($event, "posts")'>博文 (${ model.post_count })</li>
			<li v-on:click='btn_click($event, "draft")'>草稿 (${ model.draft_count })</li>
			<li v-on:click='btn_click($event, "trash")'>废纸篓(${ model.trash_count })</li>
			<li v-on:click='btn_click($event, "comment")'>评论 (${ model.comment_count })</li>
			<li v-on:click='btn_click($event, "navs")'>导航</li>
			<!-- <li v-on:click='btn_click($event, "setting")'>设置</li> -->
		</ul>
	</div>
</script>
<script>
Vue.component('note-blogs', {
	delimiters: ['${', '}'],
	template: '#note-blogs-template',
	data: function(){
		return {
			show: true,
		};
	},
	props: {
		model: Object
	},
	methods: {
		btn_click: function(event, name){
			BUS.$emit('reload_posts', this.model);
			this.$emit('click', event, name, this.model);
		}
	},
});
</script>



<script type="text/x-template" id="note-blog-setting-template">
	<div>
		note-blog-setting ${ blog.pk }
	</div>
</script>
<script>
Vue.component('note-blog-setting', {
	delimiters: ['${', '}'],
	template: '#note-blog-setting-template',
	data: function(){
		return {

		};
	},
	props: {
		blog: Object,
	},
});
</script>





<script type="text/x-template" id="note-draft-template">
	<note-posts class="note-draft box stretch full-height"
		:blog='blog' :list_type='"draft"'>
	</note-posts>
</script>
<script>
Vue.component('note-draft', {
	delimiters: ['${', '}'],
	template: '#note-draft-template',
	props: {
		blog: Object,
	}
});
</script>






<script type="text/x-template" id="note-trash-template">
	<note-posts class="note-trash box stretch full-height" 
		:blog='blog' :list_type='"trash"'>
	</note-posts>
</script>
<script>
Vue.component('note-trash', {
	delimiters: ['${', '}'],
	template: '#note-trash-template',
	props: {
		blog: Object,
	}
});
</script>







<style>
.select_post {
	background-color: #d9d9d9;
}
</style>
<script type="text/x-template" id="note-posts-template">
	<div class="note-posts box stretch full-height">
		<div class="posts-tags stretch full-height" 
		style="
			height: 100%;
			min-width: 150px;
			max-width: 150px;">
			<span v-on:click='clear_select_tags'>Clear</span>${query_status}
			<ul class="">
				<li v-for='obj in tags'>
					<input type="checkbox" :id="obj.name" :value='obj' v-model='selected_tags'>
					<span :for='obj.name' v-on:click='select_tag(obj);'>${ obj.name } ${ obj.count }</span>
				</li>
			</ul>
		</div>
		<div class="posts-list stretch box-col" 
		style="
			height: 100%;
			min-width: 200px;
			max-width: 200px;
		">
			<div class="box">
				<span class="stretch" v-on:click='new_markdown'>New Markdown</span>
				<span class="stretch" v-on:click='new_html'>New HTML</span>
			</div>
			<div class="box" style="justify-content: space-between;">
				<span :class='{bolder: order_by=="title"}'>Title <span v-if='order_by=="title"'>${ order_asc?'↑':'↓'}</span></span>
				<span :class='{bolder: order_by=="create"}'>Create <span v-if='order_by=="create"'>${ order_asc?'↑':'↓'}</span></span>
				<span :class='{bolder: order_by=="modify"}'>Modify <span v-if='order_by=="modify"'>${ order_asc?'↑':'↓'}</span></span>
			</div>
			<ul style="overflow-y: scroll;">
				<li v-for='post in posts' v-on:click='select_post(post)' class="post-item" :class='{select_post: post==selected_post}' style="height: 70px;">
					<p>${ post.title }</p>
					<!-- <span>${ post.last_modified_time }</span> -->
				</li>
			</ul>
		</div>
		<note-post-detail :model='selected_post' class="posts-content stretch box-col" 
		style="
			height: 100%;
			width: 100%;
			padding: 0 0 0 20px;
			"></note-post-detail>
	</div>
</script>
<script>
Vue.component('note-posts', {
	delimiters: ['${', '}'],
	template: '#note-posts-template',
	data: function(){
		this.reload_data();
		return {
			raw_data: '',
			tags: [],
			selected_tags: [],
			selected_post: {},
			order_by: 'create',
			order_asc: false,
		};
	},
	computed: {
		posts: function(){
			if(this.selected_tags.length==0) {
				return this.raw_data;
			} else {
				var self = this;
				return _.filter(self.raw_data, function(post){
					var flag = true;
					_.forEach(self.selected_tags, function(t){
						if(!_.includes(post.tags, t.name)) {
							flag = false;
						}
					});
					return flag;
				});
			}
		},
		query_status: function(){
			if(this.list_type=='draft') return 'd';
			else if(this.list_type=='trash') return 't';
			return 'p';
		}
	},
	watch: {
		selected_tags: function(){
			// var s = '';
			// _.forEach(this.selected_tags, function(item){
			// 	if(item) s += item.name + ', ';
			// });
			// log(s);
		},
	},
	props: {
		blog: {
			type: Object,
			required: true,
		},
		list_type: String,
	},
	methods: {
		reload_data: function(){
			var self = this;
			setTimeout(function(){
				API.post_list({
					blog: self.blog.pk,
					status: self.query_status,
				}, function(data){
					self.raw_data = data;
					self.parse_raw_data();
				})
			}, 0);
		},
		parse_raw_data: function(){
			var tags_list = [];
			_.forEach(this.raw_data, function(post){
				tags_list = _.concat(tags_list, post.tags)
			});
			var tags_count = _.countBy(tags_list);
			var tags_coll = [];
			_.forEach(tags_count, function(value, key){
				tags_coll.push({
					name: key,
					count: value,
				})
			})
			this.tags = _.orderBy(tags_coll, ['count', 'name'], ['desc', 'asc'])
			this.selected_post = {};
		},
		create_new_post: function(type) {
			API.post_new({
				status: 'p',
				content: 'your new post',
				content_type: type,
				tags: [],
			})
		},
		new_markdown: function(){
			this.create_new_post('m');
		},
		new_html: function(){
			this.create_new_post('h');
		},
		select_post: function(post){
			this.selected_post = post;
		},
		clear_select_tags: function(){
			this.selected_tags = [];
		},
		select_tag: function(obj){
			this.clear_select_tags();
			this.selected_tags = [obj];
		},
	},
});
</script>



<style>
.post_detail_title {
    font-size: x-large;
    font-weight: bolder;
}
</style>
<script type="text/x-template" id="note-post-detail-template">
	<div v-if='post' class="box-col">
		<div class="box">
			<div class="stretch box-col">
				<input type="input" v-model='post.title' class='post_detail_title border0'></p>
				<p class="box"><strong>URL</strong><span>: /posts/</span>
					<input type="text" v-model='post.slug' class="border0 stretch" placeholder="<auto>" /></p>
				<div class="stretch">
					<strong>Tags: </strong>
					<span v-for='tag in post.tags'>${ tag } X, </span>
					<input type="text" name="" placeholder="Add Tag" class="border0" style="width: 10em;">
				</div>
			</div>
			<div style="flex: 0 1 100px">
				<button v-on:click='save_publish'>publish</button>
				<button v-on:click='save_draft'>draft</button>
				<button v-on:click='save_delete'>delete</button>
			</div>
			<div style="flex: 0 1 200px">
				<p>创建 ${ create_time }</p>
				<p>修改 ${ last_modified_time }</p>
				<p>
					<input type="checkbox" v-model='post.sticky'>
					<span v-on:click='post.sticky=!post.sticky'>Sticky</span>
				</p>
				<p>
					<input type="checkbox" v-model='post.comments'>
					<span v-on:click='post.comments=!post.comments'>Comments</span>
				</p>
			</div>
		</div>
		<note-post-editor :model='post' style='flex: 1; overflow: overlay; padding-top: 1.2em;'></note-post-editor>
	</div>
</script>
<script>
Vue.component('note-post-detail', {
	delimiters: ['${', '}'],
	template: '#note-post-detail-template',
	data: function(){
		return {
			changed: false,
			post: '',
		};
	},
	props: {
		model: Object,
	},
	computed: {
		create_time: function(){
			return moment(this.post.create_time).format(BUS.time_format);
		},
		last_modified_time: function(){
			return moment(this.post.last_modified_time).format(BUS.time_format);
		},
	},
	watch: {
		model: function(val, oldVal){
			var self = this;
			if(this.changed) {
				this.save(function(){
					//TODO 如何从修改数据倒回去←更新列表
					// oldVal.title = 'abccccccccccccc';
					self.reload();
				});
			} else {
				this.reload();
			}
		},
		post: {
			deep: true,
			handler: function(val, oldVal){
				this.changed = true;
			},
		},
		changed: function(){
			BUS.post_changed = this.changed;
			log('note-post-detail.changed: ' + this.changed);
		},
	},
	methods: {
		reload: function(){
			var self = this;
			if(self.model.api_url) {
				get_data(self.model.api_url, {}, function(data){
					self.post = data;
					// watch:post RUN first, and then this timeout function
					setTimeout(function(){
						self.changed = false;
					}, 0)
				});
			}
		},
		save: function(callback){
			var self = this;
			API.post_update(this.post, function(){
				self.changed = false;
				if(callback) callback();
			})
		},
		save_publish: function() {
			this.post.status = 'p';
			this.save();
		},
		save_draft: function() {
			this.post.status = 'd';
			this.save();
		},
		save_delete: function() {
			API.post_delete(this.post, function(){
				self.changed = false;
			})
		}
	}

});
</script>



<script type="text/x-template" id="note-post-editor-template">
	<div id="note-post-editor" v-if='model'>
		<note-post-editor-html v-if='model.content_type == "h"' :model='model'></note-post-editor-html>
		<note-post-editor-md v-else-if='model.content_type == "m"' :model='model'></note-post-editor-md>
		<p v-else>Error Type.</p>
	</div>
</script>
<script>
Vue.component('note-post-editor', {
	delimiters: ['${', '}'],
	template: '#note-post-editor-template',
	data: function(){
		return {
		};
	},
	watch: {
		'model.content': function(){
			this.content_changed();
		}
	},
	props: {
		model: Object,
	},
	methods: {
		content_changed: function(){
			this.$emit('editor_content_changed');
		}
	}
});
</script>



<script>
$.getScript('http://cdn.bootcss.com/marked/0.3.6/marked.min.js');
var RENDER_MARKDOWN = function(md){
	var render = function() {
		return marked(md);
	}
	if(typeof(marked)=='undefined') {
		log('//MAKE RENDER MARKDOWN ASYNC.')
	}
	return render();
}
</script>
<script src='{% static "/js/common/markdown_editor.js" %}'></script>

<style>
.full_screen {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 20px;
	background-color: white;
}
</style>
<script type="text/x-template" id="note-post-editor-md-template">
	<div class="box-col" style="flex: 1; overflow: overlay; height: 100%;" :class='{full_screen: is_full_screen}'>
		<div style="">
			<span v-on:click='show("editor")' :class="{bolder: show_editor&&!show_html}">Markdown</span>
			<span v-on:click='show("split")' :class="{bolder: show_editor&&show_html}">Split</span>
			<span v-on:click='show("html")' :class="{bolder: !show_editor&&show_html}">Rendered</span>
			<span v-on:click='full_screen' style="float: right;">full-screen</span>
		</div>
		<div class="stretch box" style="padding-top: 1em;">
			<textarea v-if='show_editor' id="editor-md-textarea" 
				class='stretch y-scroll'
				style="
				flex: 1;
				resize: none;
				overflow-y: scroll;
				" 
				v-on:keydown.tab.prevent="insert_tab"
				v-model='model.content'>
			</textarea>
			<div style="flex-basis: 2em;" v-if='show_editor&&show_html'></div>
			<div v-if='show_html'
				style="
				flex: 1;
				overflow-wrap: break-word;
    			overflow-y: scroll;
				" 
				v-html='model.rendered_html'></div>
		</div>
	</div>
</script>
<script>
Vue.component('note-post-editor-md', {
	delimiters: ['${', '}'],
	template: '#note-post-editor-md-template',
	data: function(){
		return {
			show_editor: true,
			show_html: true,
			is_full_screen: false,
		};
	},
	props: {
		model: Object,
	},
	watch: {
		'model.content': function(){
			this.model.rendered_html = this.render(this.model.content);
		}
	},
	methods: {
		render: function(md){
			return RENDER_MARKDOWN(md);
		},
		insert_tab: function(){
			var el = document.getElementById('editor-md-textarea');
			var val = el.value,
                start = el.selectionStart,
                end = el.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            el.value = val.substring(0, start) + '\t' + val.substring(end);

            // put caret at right position again
            el.selectionStart = el.selectionEnd = start + 1;
		},
		show: function(type) {
			if(type=='editor') {
				this.show_editor = true;
				this.show_html = false;
			} else if (type=='split') {
				this.show_editor = true;
				this.show_html = true;
			} else {
				this.show_editor = false;
				this.show_html = true;
			}
		},
		full_screen: function(){
			this.is_full_screen = !this.is_full_screen;
		}
	},
});
</script>




<script>
var EDIT_HTML = function(id, change) {
	log('EDIT_HTML: init html editor')
	var edit = function() {
		var html_editor = new wangEditor(id);
		html_editor.config.jsFilter = false;
		html_editor.config.uploadImgUrl = '/api/img/';
		html_editor.config.uploadHeaders = {
			'X-CSRFToken': getCookie('csrftoken'),
		};
		html_editor.config.uploadImgFileName = 'file'
		html_editor.onchange = function(){
			change(html_editor);
		}
		html_editor.create();
		return html_editor;
	}
	if(typeof(wangEditor)=='undefined') {
		var get_css = function(css) {
			$('head').append('<link rel="stylesheet" href="' + css + '" type="text/css" />');
		}
		get_css('//cdn.bootcss.com/wangeditor/2.1.20/css/wangEditor.min.css');
		$.getScript('//cdn.bootcss.com/wangeditor/2.1.20/js/wangEditor.min.js', function(){
			edit();
		});
	} else {
		edit();
	}
}

</script>

<script src='{% static "/js/common/html_editor.js" %}'></script>
<style>
.wangEditor-container {
	height: 100%;
}
.wangEditor-txt {
	height: 100%;
}
</style>
<script type="text/x-template" id="note-post-editor-html-template">
	<div style="height: 100%;">
		<div id="note-post-editor-html-container">
		</div>
	</div>
</script>
<script>
Vue.component('note-post-editor-html', {
	delimiters: ['${', '}'],
	template: '#note-post-editor-html-template',
	data: function(){
		return {
			editor: null,
		};
	},
	props: {
		model: Object,
	},
	watch: {
		model: function(){
			this.reload();
		}
	},
	methods: {
		reload: function(){
			if(this.editor) {
				this.editor.$txt.html(this.model.rendered_html);
			} else {
				$("#note-post-editor-html-container").html(this.model.rendered_html);
			}
		}
	},
	mounted: function(){
		var self = this;
		EDIT_HTML('note-post-editor-html-container', function(editor){
			self.model.rendered_html = editor.$txt.html();
			self.editor = editor;
		});
		this.reload();
	}
});
</script>



<script>
var DEBUG = true;
var BUS = new Vue({
	data: {
		time_format: 'YYYY-MM-DD HH:mm:ss',
		post_changed: false,
	},
	computed: {
		ask_quit: function(){
			return this.post_changed;
		}
	},
	created: function(){
		var self = this;
		window.onbeforeunload = function(event) {
			if(self.ask_quit) {
				return "确定退出吗";
			}
		}
	}
});
var note_app = new Vue({
	delimiters: ['${', '}'],
	el: '#note_wrapper',
	data: {
		blogs: [],
		right_view_blog: '',
		right_view: '',
	},
	methods: {
		load_blog_list: function(){
			var self = this;
			get_data('{% url "api:blog-list" %}', {}, function(data) {
				self.blogs = data;
				self.blogs_btn_click(null, 'posts', self.blogs[0]);
			})
		},
		create_new_blog: function(){
			this.blogs.push({
				name: 'XXXX',
				url: 'abc.com',
			})
		},
		blogs_btn_click: function(event, name, blog){
			var view = {
				blog: 'note-blog-setting',
				posts: 'note-posts',
				draft: 'note-draft',
				trash: 'note-trash',
				comment: 'note-comments',
				navs: 'note-navs',
			}
			this.right_view = view[name];
			this.right_view_blog = blog;
		},
	},
	created: function(){
		this.load_blog_list();
	}
})
</script>
{% endblock %}
{% block content %}
<div id="note_wrapper" class="box-col">
	<div id="note_header" class="stretch">
		Blog | search
		<span class="pull-right">
			<a href='{% url "manage:index" %}'>Admin</a> | Account</span>
	</div>
	<div id="note_body" class="stretch box">
		<div id="note_left" class="y-scroll">
			<div v-bind:model='blogs'>
				<note-blogs v-for='blog in blogs' :model='blog' v-on:click='blogs_btn_click'></note-blogs>
			</div>
			<span v-on:click='create_new_blog'>新建</span>
		</div>
		<div id="note_right" class="stretch">
			<component :is="right_view" :blog='right_view_blog'>
			</component>
		</div>
	</div>
</div>
<style>
#note_wrapper {
	padding: 10px;
	height: 100vh;
}
#note_header {
	min-height: 50px;
	max-height: 50px;
}
#note_left {
	min-width: 140px;
	max-width: 140px;
}
</style>
<script>
var API = {
	post_list: function(filter, callback) {
		get_data('{% url "api:post-list" %}', filter, function(data){
			callback(data);
		})
	},
	post_parameter: function(post){
		return _.omitBy({
			slug: post.slug,
			title: post.title,
			content: post.content,
			content_type: post.content_type,
			rendered_html: post.rendered_html,
			status: post.status,
			tags: JSON.stringify(post.tags),
			comments: post.comments,
			sticky: post.sticky,
		}, _.isNil)
	},
	post_new: function(post, callback){
		post_data('{% url "api:post-list" %}', API.post_parameter(post), function(data){
			callback(data);
		})
	},
	post_update: function(post, callback) {
		put_data(post.api_url, API.post_parameter(post), function(data){
			callback(data);
		})
	},
	post_delete: function(post, callback) {
		delete_data(post.api_url, {}, function(data){
			callback(data);
		})
	}
};
</script>
{% endblock %}