{% extends './base.html' %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'js/note/index.css' %}">
{% endblock %}


{% block js %}
<script src="//cdn.bootcss.com/wangeditor/2.1.20/js/wangEditor.min.js"></script>
<script type="text/x-template" id="note-blogs-template">
	<div>
		<div>
		<span v-on:click="show=!show">${ model.name }</span>
		<a :href="model.url" target="_blank" class="pull-right">open</a>
		</div>
		<ul v-show='show'>
			<li v-on:click='btn_click($event, "posts")'>博文 (${ model.post_count })</li>
			<li>草稿 (${ model.draft_count })</li>
			<li>废纸篓(${ model.trash_count })</li>
			<li>导航</li>
			<li>评论 (${ model.comment_count })</li>
			<li v-on:click='btn_click($event, "setting")'>设置</li>
		</ul>
	</div>
</script>
<script>
Vue.component('note-blogs', {
	delimiters: ['${', '}'],
	template: '#note-blogs-template',
	data: function(){
		return {
			show: true,
		};
	},
	props: {
		model: Object
	},
	methods: {
		btn_click: function(event, name){
			this.$emit('click', event, name, this.model.blog_pk);
		}
	}
});
</script>



<script type="text/x-template" id="note-blog-setting-template">
	<div>
		note-blog-setting ${blog_pk}
	</div>
</script>
<script>
Vue.component('note-blog-setting', {
	delimiters: ['${', '}'],
	template: '#note-blog-setting-template',
	data: function(){
		return {

		};
	},
	props: {
		blog_pk: Number,
	},
});
</script>



<script type="text/x-template" id="note-posts-template">
	<div class="note-posts">
		<div class="posts-tags">
			<ul>
				<li>Clear</li>
				<li v-for='tag in tags'>
					${ tag }
					<input type="checkbox" name="" class="pull-right">
				</li>
			</ul>
		</div>
		<div class="posts-list">
			Title | Create | Modified , DESC
			<ul>
				<li v-for='post in posts' v-on:click='select_post(post)'>
				${ post.title }
				</li>
			</ul>
		</div>
		<div class="posts-content">
			<note-post-editor :model='selected'></note-post-editor>
		</div>
	</div>
</script>
<script>
Vue.component('note-posts', {
	delimiters: ['${', '}'],
	template: '#note-posts-template',
	data: function(){
		return {
			raw_data: '',
			tags: ['a', 'bd', 'skdljf'],
			posts: [
				{
					post_pk: 1,
					url: 'http://google.com',
					title: 'what',
					comment_count: 3,
				},
				{
					post_pk: 1,
					url: 'http://google.com',
					title: 'this',
					comment_count: 3,
				},
			],
			selected: {},
		};
	},
	props: {
		blog_pk: Number,
	},
	methods: {
		select_post: function(post){
			this.selected = post;
		}
	}
});
</script>


<script type="text/x-template" id="note-post-editor-template">
	<div>
		${ model.title }
		${ model.url }
	</div>
</script>
<script>
Vue.component('note-post-editor', {
	delimiters: ['${', '}'],
	template: '#note-post-editor-template',
	data: function(){
		return {
			content: '',
			content_type: '',
		};
	},
	props: {
		model: Object,
	},
});
</script>


<script>
// var DEBUG = true;
var note_app = new Vue({
	delimiters: ['${', '}'],
	el: '#note_wrapper',
	data: {
		blogs: [],
		right_view_bpk: '',
		right_view: '',
	},
	methods: {
		load_blog_list: function(){
			this.create_new_blog();
		},
		create_new_blog: function(){
			this.blogs.push({
				blog_pk: 42,
				name: 'BlogA',
				url: 'http://google.com',
				post_count: 10,
				draft_count: 2,
				trash_count: 5,
				comment_count: 100,
			});
		},
		blogs_btn_click: function(event, name, blog_pk){
			var view = {
				setting: 'note-blog-setting',
				posts: 'note-posts',
			}
			this.right_view_bpk = blog_pk;
			this.right_view = view[name];
		},
	},
	created: function(){
		this.load_blog_list();
		this.blogs_btn_click(null, 'posts', 42);
	}
})
</script>
{% endblock %}
{% block content %}
<div id="note_wrapper">
	<div id="note_header">
		Blog | search
		<span class="pull-right">Admin | Account</span>
	</div>
	<div id="note_body">
		<div id="note_left">
			<div v-bind:model='blogs'>
				<note-blogs v-for='blog in blogs' :model='blog' v-on:click='blogs_btn_click'></note-blogs>
			</div>
			<span @click='create_new_blog'>新建</span>
		</div>
		<div id="note_right">
			<component v-bind:is="right_view" v-bind:blog_pk='right_view_bpk'>
			</component>
		</div>
	</div>
</div>
{% endblock %}