{% extends './base.html' %}
{% load staticfiles %}


{% block css %}
<style>
/* common */
.box {
	display: flex;
}
.box-col {
	display: flex;
	flex-direction: column;
}
.y-scroll {
	overflow-y: auto;
}
.y-center {
	align-items: center;
}
.stretch {
	flex-grow: 1;
}
.full-height {
	height: 100%;
}
.bolder {
	font-weight: bolder;
}
.border0 {
	border: 0;
}
.margin0 {
	margin: 0;
}
.padding {
	padding: 0;
}
/**/
body {
	overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
</style>
{% endblock %}




{% block js_vue %}
<script src="{% static 'common/js/common.js' %}"></script>
<script>
var account_logout = function(){
	$.ajax({
		url: "{% url 'account_logout' %}",
		method: 'POST',
		headers: {
			'X-CSRFToken': getCookie('csrftoken'),
		},
		complete: function() {
			window.location = '{% url "index" %}';
		}
	})
}
</script>




<style>
#note-blogs-list-container {
	height: 100%;
}
#note-blogs-list {
	height: 100%;
	overflow: auto;
	padding-right: 15px;
	border-right: dashed 1px;
}
</style>
<script type="text/x-template" id="note-blogs-template">
<div id='note-blogs-list-container'>
	<div id="note-blogs-list">
		<note-blog-item v-for='blog in blogs' :blog=blog></note-blog-item>
		<span v-on:click='create'>新建</span>
	</div>
</div>
</script>
<script>
Vue.component('note-blogs', {
	delimiters: ['${', '}'],
	template: '#note-blogs-template',
	data: function(){
		return {
		};
	},
	computed: {
		blogs: function(){
			return BUS.blog_list;
		},
	},
	methods: {
		create: function(){
			BUS.create_new_blog();
		},
	},
	mounted: function(){
	}
});
</script>





<style>
.note-blog-item {
	margin-bottom: 10px;
}
.blog_title {
	font-size: 1.1em;
    font-weight: bolder;
    text-decoration: underline;
}
.blog_title:hover,
.blot_btn:hover {
	cursor: pointer;
}
.blog_title_clicked,
.blog_btn_clicked {
	background-color: rgba(135, 138, 142, 0.23);
}
.blog_btn_ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}
.blog_btn_ul li {
	padding-left: 20px;
}
</style>
<script type="text/x-template" id="note-blog-item-template">
	<div class="note-blog-item">
		<div>
			<span v-on:click='btn_click("setting")' :class="{blog_title_clicked: btn_clicked('setting')}" class="blog_title">${ blog.name }</span>
			<a :href="'//' + blog.url" target="_blank" style="margin-left: 10px;"><i class="fa fa-external-link" aria-hidden="true"></i></a>
		</div>
		<ul class="blog_btn_ul">
			<li v-on:click='btn_click("posts")' :class="{blog_btn_clicked: btn_clicked('posts')}" class="blot_btn">博文 (${ blog.post_count })</li>
			<li v-on:click='btn_click("draft")' :class="{blog_btn_clicked: btn_clicked('draft')}" class="blot_btn">草稿 (${ blog.draft_count })</li>
			<li v-on:click='btn_click("trash")' :class="{blog_btn_clicked: btn_clicked('trash')}" class="blot_btn">废纸篓(${ blog.trash_count })</li>
			<li v-on:click='btn_click("comment")' :class="{blog_btn_clicked: btn_clicked('comment')}" class="blot_btn">评论 (${ blog.comment_count })</li>
			<li v-on:click='btn_click("navs")' :class="{blog_btn_clicked: btn_clicked('navs')}" class="blot_btn">导航</li>
		</ul>
	</div>
</script>
<script>
Vue.component('note-blog-item', {
	delimiters: ['${', '}'],
	template: '#note-blog-item-template',
	data: function(){
		return {
		};
	},
	props: {
		blog: Object,
	},
	computed: {
		blogs: function(){
			return BUS.blog_list;
		},
	},
	methods: {
		btn_click: function(name){
			BUS.select_blog_function(this.blog, name);
		},
		btn_clicked: function(name){
			return BUS.current_blog==this.blog&&BUS.current_blog_btn==name;
		},
	},
});
</script>







<script type="text/x-template" id="note-blog-setting-template">
	<div>
		note-blog-setting ${ blog.pk }
	</div>
</script>
<script>
Vue.component('note-blog-setting', {
	delimiters: ['${', '}'],
	template: '#note-blog-setting-template',
	data: function(){
		return {

		};
	},
	props: {
	},
	computed: {
		blog: function(){
			return BUS.current_blog;
		}
	},
});
</script>





<script type="text/x-template" id="note-blog-navs-template">
	<div>
		<ul>
			<navs-item class="navs-item" :model="navs">
			</navs-item>
		</ul>
	</div>
</script>
<script>
Vue.component('note-blog-navs', {
	delimiters: ['${', '}'],
	template: '#note-blog-navs-template',
	data: function(){
		return {
			navs: {},
		};
	},
	props: {
		blog: Object,
	},
});
</script>





<script type="text/x-template" id="navs-item-template">
	<li>
		<div
			:class=""
			v-if='!isRoot'
			v-bind:title='model.url'
		>
			<span @click="Toggle">${ model.name }</span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span @click="deleteItem" v-if='!isRoot'>[-]</span>
			<span @click="addChild" v-if='!isRoot'>[+]</span>
			<span @click="MoveUp" v-if='!isRoot'>[↑]</span>
			<span @click="MoveDown" v-if='!isRoot'>[↓]</span>
		</div>
		<form v-if='edit'>
			<input type="" name="" v-model='model.name' placeholder="Title">
			<input type="" name="" v-model='model.url' v-if="!hasSubItems" placeholder="URL">
		</form>
		<ul v-show="hasSubItems || isRoot">
			<navs-item
				class="item"
				v-for="model in model.sub"
				:model="model">
			</navs-item>
			<li class="add" @click="addChild">+</li>
		</ul>
	</li>
</script>
<script>
Vue.component('navs-item', {
	delimiters: ['${', '}'],
	template: '#navs-item-template',
	props: {
		model: Object
	},
	data: function () {
		return {
			edit: false,
		}
	},
	computed: {
		isFolder: function () {
			return this.model.sub;
		},
		hasSubItems: function () {
			return this.model.sub && this.model.sub.length;
		},
		isRoot: function() {
			return this.$parent.$parent==undefined;
		}
	},
	methods: {
		Toggle: function() {
			this.edit = !this.edit;
		},
		addChild: function() {
			if (!this.isFolder) {
				Vue.set(this.model, 'sub', []);
			}
			this.model.sub.push({
				name: 'new nav',
				url: '/posts/?tags=',
				sub: [],
			})
		},
		deleteItem: function(){
			this.$parent.model.sub.remove(this.model);
		},
		MoveUp:function() {
			var idx = $.inArray(this.model, this.$parent.model.sub);
			this.$parent.model.sub.move(idx, idx - 1);
		},
		MoveDown:function() {
			var idx = $.inArray(this.model, this.$parent.model.sub);
			this.$parent.model.sub.move(idx, idx + 1);
		},
	}
})
</script>






<style>
.filter-tags-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.filter-tags-container ul li {
	margin-left: 5px;
}
.filter-tags-container .clear_tags {
	margin-left: 10px; 
	text-decoration: 
	underline; 
	color: gray;
}
.filter-tags-container ul li,
.filter-tags-container .clear_tags:hover {
	cursor: pointer;
}
</style>
<script type="text/x-template" id="filter-tags-template">
	<div class="filter-tags-container">
		<span style="font-weight: bolder;">Tags: </span>
		<span v-on:click='clear_tags' class='clear_tags'>Clear</span>
		<ul>
			<li v-for='tag in tags'>
				<input type="checkbox" :id="tag.name" :value='tag' v-model='selected_tags'>
				<span :for='tag.name' v-on:click='select_tag(tag);'>${ tag.name } ${ tag.count }</span>
			</li>
		</ul>
	</div>
</script>
<script>
Vue.component('filter-tags', {
	delimiters: ['${', '}'],
	template: '#filter-tags-template',
	data: function(){
		return {
			selected_tags: [],
		}
	},
	props: {
		tags: Array,
	},
	methods: {
		clear_tags: function(){
			this.selected_tags = [];
		},
		select_tag: function(tag){
			this.clear_tags();
			this.selected_tags = [tag];
		},
	}
});
</script>






<style>
.post-list-container {
	height: 100%;
}
.post-list-container .post-order {
	flex: 0 0 1.6em;
}
.post-list-container .post-list {
	flex: 1;
	overflow-y: scroll;
}
.post-list-container ul.post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-list-container ul.post-list li {
	height: 100px;
	border: solid 1px rgba(77, 79, 77, 0.27);
	margin-bottom: 2px;
}
.post-list-container .selected_post {
	background-color: #d9d9d9;
}
.post-list-container .post-list li input {
	display: none;
}
</style>
<script type="text/x-template" id="post-list-template">
<div class="post-list-container box-col">
	<div class="post-order box" style="justify-content: space-between;">
		<input type="checkbox" v-on:click='select_all' :bind='is_select_all'>
		<span :class='{bolder: order_by=="title"}'>Title <span v-if='order_by=="title"'>${ order_asc?'↑':'↓'}</span></span>
		<span :class='{bolder: order_by=="create"}'>Create <span v-if='order_by=="create"'>${ order_asc?'↑':'↓'}</span></span>
		<span :class='{bolder: order_by=="modify"}'>Modify <span v-if='order_by=="modify"'>${ order_asc?'↑':'↓'}</span></span>
	</div>
	<ul class="post-list">
		<li v-for='post in posts' class="post-item"
			v-on:click='select_post($event, post)'
			:class='{selected_post: is_selected(post)}'>
			<input type="checkbox" value='post' v-model='selected_posts'>
			<p>${ post.title }</p>
			<!-- <span>${ post.last_modified_time }</span> -->
		</li>
	</ul>
</div>
</script>
<script>
Vue.component('post-list', {
	delimiters: ['${', '}'],
	template: '#post-list-template',
	data: function(){
		return {
			selected_posts: [],
			order_by: 'create',
			order_asc: false,
		}
	},
	props: {
		posts: Array,
	},
	computed: {
		is_select_all: function(){
			return this.posts.every(this.is_selected);
		}
	},
	methods: {
		selected_changed: function(){
			this.$emit('select_changed', this.selected_posts);
		},
		is_selected: function(post){
			return this.selected_posts.includes(post);
		},
		select_all: function() {
			if(this.is_select_all) {
				this.selected_posts = [];
			} else {
				this.selected_posts = this.posts;
			}
		},
		select_post: function(event, post){
			if(event.ctrlKey) {
				if(this.is_selected(post)) {
					this.selected_posts.remove(post);
				} else {
					this.selected_posts.push(post);
				}
			} else {
				this.selected_posts = [post];
			}
			this.selected_changed();
		},
	}
});
</script>




<script type="text/x-template" id="note-post-multi-opt-template">
</script>
<script>
Vue.component('note-post-multi-opt', {
	delimiters: ['${', '}'],
	template: '#note-post-multi-opt',
});
</script>





<style>
.note-posts-container .posts-filter {
	height: 100%;
	flex: 0 0 150px;
}
.note-posts-container .new-post {
	flex: 0 0 34px;
}
.note-posts-container .new-post button {
	flex: 1;
	margin-bottom: 10px;
}
.note-posts-container .posts-list {
	height: 100%;
	flex: 0 0 200px;
}
.note-posts-container .posts-detail {
	height: 100%;
	width: 100%;
	padding: 0 0 0 20px;
	flex: 1;
}
</style>
<script type="text/x-template" id="note-posts-template">
	<div class="note-posts-container box stretch full-height">
		<div class="posts-filter stretch full-height">
			<filter-tags :tags='tags'></filter-tags>
		</div>
		<div class="posts-list stretch box-col">
			<div class="new-post box">
				<span>New: </span>
				<button class="stretch" v-on:click='new_markdown'>Markdown</button>
				<button class="stretch" v-on:click='new_html'>HTML</button>
			</div>
			<post-list class='post-list-component stretch' :posts='posts' v-on:select_changed='selected_posts_change'></post-list>
		</div>
		<div class="posts-detail stretch">
			<note-post-detail v-if='select_one_post'></note-post-detail>
			<note-post-multi-opt v-if='select_multi_post'></note-post-multi-opt>
		</div>
	</div>
</script>
<script>
Vue.component('note-posts', {
	delimiters: ['${', '}'],
	template: '#note-posts-template',
	data: function(){
		return {
			selected_tags: [],
			order_by: 'create',
			order_asc: false,
		};
	},
	computed: {
		raw_data: function(){
			return BUS.post_list;
		},
		blog: function(){
			return BUS.current_blog;
		},
		selected_post: function(){
			return BUS.current_post;
		},
		posts: function(){
			if(this.selected_tags.length==0) {
				return this.raw_data;
			} else {
				var self = this;
				return _.filter(self.raw_data, function(post){
					var flag = true;
					_.forEach(self.selected_tags, function(t){
						if(!_.includes(post.tags, t.name)) {
							flag = false;
						}
					});
					return flag;
				});
			}
		},
		tags: function(){
			var tags_list = [];
			_.forEach(this.raw_data, function(post){
				tags_list = _.concat(tags_list, post.tags)
			});
			var tags_count = _.countBy(tags_list);
			var tags_coll = [];
			_.forEach(tags_count, function(value, key){
				tags_coll.push({
					name: key,
					count: value,
				})
			})
			return _.orderBy(tags_coll, ['count', 'name'], ['desc', 'asc'])
		},
		select_one_post: function(){
			return true;
		},
		select_multi_post: function(){
			return false;
		},
	},
	props: {
	},
	methods: {
		create_new_post: function(type) {
			BUS.create_new_post(type);
		},
		select_post: function(post){
			BUS.select_post(post);
		},
		new_markdown: function(){
			BUS.create_new_post('m');
		},
		new_html: function(){
			BUS.create_new_post('h');
		},
		selected_posts_change: function(posts){
			if(posts.length == 1) {
				BUS.select_post(posts[0]);
			} else {
				BUS.select_post = [];
			}
		},
	},
});
</script>







<style>
.post-detail-container {
	height: 100%;
}
.post_detail_title {
    font-size: x-large;
    font-weight: bolder;
}
.note-post-editor-component {
	flex: 1;
	overflow: overlay;
	margin-top: 1.2em;
}
</style>
<script type="text/x-template" id="note-post-detail-template">
	<div v-if='post' class="post-detail-container box-col">
		<div class="box">
			<div class="stretch box-col">
				<input type="input" v-model='post.title' class='post_detail_title border0'></p>
				<p class="box"><strong>URL</strong><span>: /posts/</span>
					<input type="text" v-model='post.slug' class="border0 stretch" placeholder="<auto>" style='width: 30em;'/>
					<a :href="post.html_url" target="_blank">Open</a>
				</p>
				<div class="stretch">
					<strong>Tags: </strong>
					<span v-for='tag in post.tags'>${ tag } <i class="fa fa-times" aria-hidden="true"></i>, </span>
					<input type="text" name="" placeholder="Add Tag" class="border0" style="width: 10em;">
				</div>
			</div>
			<div style="flex: 0 1 100px">
				<button v-on:click='save_publish'>publish</button>
				<button v-on:click='save_draft'>draft</button>
				<button v-on:click='delete_current'>delete</button>
			</div>
			<div style="flex: 0 1 200px">
				<p>创建 ${ create_time }</p>
				<p>修改 ${ last_modified_time }</p>
				<p>
					<input type="checkbox" v-model='post.comments'>
					<span v-on:click='post.comments=!post.comments'>Comments</span>
					<input type="checkbox" v-model='post.sticky'>
					<span v-on:click='post.sticky=!post.sticky'>Sticky</span>
				</p>
			</div>
		</div>
		<note-post-editor :model='post' class='note-post-editor-component'></note-post-editor>
	</div>
</script>
<script>
Vue.component('note-post-detail', {
	delimiters: ['${', '}'],
	template: '#note-post-detail-template',
	data: function(){
		return {
		};
	},
	computed: {
		post: function(){
			return BUS.post_detail;
		},
		create_time: function(){
			return moment(this.post.create_time).format(BUS.time_format);
		},
		last_modified_time: function(){
			return moment(this.post.last_modified_time).format(BUS.time_format);
		},
	},
	methods: {
		reload: function(){
			BUS.reload_post_detail();
		},
		delete_current: function() {
			BUS.delete_post_detail();
		},
		save_publish: function() {
			BUS.save_post_detail_public();
		},
		save_draft: function() {
			BUS.save_post_detail_draft();
		},
	}

});
</script>



<script type="text/x-template" id="note-post-editor-template">
	<div id="note-post-editor" v-if='model'>
		<note-post-editor-html v-if='model.content_type == "h"' :model='model'></note-post-editor-html>
		<note-post-editor-md v-else-if='model.content_type == "m"' :model='model'></note-post-editor-md>
		<p v-else>Error Type.</p>
	</div>
</script>
<script>
Vue.component('note-post-editor', {
	delimiters: ['${', '}'],
	template: '#note-post-editor-template',
	data: function(){
		return {
		};
	},
	watch: {
		'model.content': function(){
			this.content_changed();
		}
	},
	props: {
		model: Object,
	},
	methods: {
		content_changed: function(){
			this.$emit('editor_content_changed');
		}
	}
});
</script>



<script>
$.getScript('http://cdn.bootcss.com/marked/0.3.6/marked.min.js');
var RENDER_MARKDOWN = function(md){
	var render = function() {
		return marked(md);
	}
	if(typeof(marked)=='undefined') {
		log('//MAKE RENDER MARKDOWN ASYNC.')
	}
	return render();
}
</script>
<script src='{% static "/common/js/markdown_editor.js" %}'></script>

<style>
.full_screen {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 20px;
	background-color: white;
}
</style>
<script type="text/x-template" id="note-post-editor-md-template">
	<div class="box-col" style="flex: 1; overflow: overlay; height: 100%;" :class='{full_screen: is_full_screen}'>
		<div style="">
			<span v-on:click='show("editor")' :class="{bolder: show_editor&&!show_html}">Markdown</span>
			<span v-on:click='show("split")' :class="{bolder: show_editor&&show_html}">Split</span>
			<span v-on:click='show("html")' :class="{bolder: !show_editor&&show_html}">Rendered</span>
			<span v-on:click='full_screen' style="float: right;"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
		</div>
		<div class="stretch box" style="padding-top: 1em;">
			<textarea v-if='show_editor' id="editor-md-textarea" 
				class='stretch y-scroll'
				style="
				flex: 1;
				resize: none;
				overflow-y: scroll;
				" 
				v-on:keydown.tab.prevent="insert_tab"
				v-model='model.content'>
			</textarea>
			<div style="flex-basis: 2em;" v-if='show_editor&&show_html'></div>
			<div v-if='show_html'
				style="
				flex: 1;
				overflow-wrap: break-word;
    			overflow-y: scroll;
				" 
				v-html='model.rendered_html'></div>
		</div>
	</div>
</script>
<script>
Vue.component('note-post-editor-md', {
	delimiters: ['${', '}'],
	template: '#note-post-editor-md-template',
	data: function(){
		return {
			show_editor: true,
			show_html: true,
			is_full_screen: false,
		};
	},
	props: {
		model: Object,
	},
	watch: {
		'model.content': function(){
			this.model.rendered_html = this.render(this.model.content);
		}
	},
	methods: {
		render: function(md){
			return RENDER_MARKDOWN(md);
		},
		insert_tab: function(){
			var el = document.getElementById('editor-md-textarea');
			var val = el.value,
                start = el.selectionStart,
                end = el.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            el.value = val.substring(0, start) + '\t' + val.substring(end);

            // put caret at right position again
            el.selectionStart = el.selectionEnd = start + 1;
		},
		show: function(type) {
			if(type=='editor') {
				this.show_editor = true;
				this.show_html = false;
			} else if (type=='split') {
				this.show_editor = true;
				this.show_html = true;
			} else {
				this.show_editor = false;
				this.show_html = true;
			}
		},
		full_screen: function(){
			this.is_full_screen = !this.is_full_screen;
		}
	},
});
</script>




<script>
var EDIT_HTML = function(id, change) {
	log('EDIT_HTML: init html editor')
	var edit = function() {
		var html_editor = new wangEditor(id);
		html_editor.config.jsFilter = false;
		html_editor.config.uploadImgUrl = '/api/img/';
		html_editor.config.uploadHeaders = {
			'X-CSRFToken': getCookie('csrftoken'),
		};
		html_editor.config.uploadImgFileName = 'file'
		html_editor.onchange = function(){
			change(html_editor);
		}
		html_editor.create();
		return html_editor;
	}
	if(typeof(wangEditor)=='undefined') {
		var get_css = function(css) {
			$('head').append('<link rel="stylesheet" href="' + css + '" type="text/css" />');
		}
		get_css('//cdn.bootcss.com/wangeditor/2.1.20/css/wangEditor.min.css');
		$.getScript('//cdn.bootcss.com/wangeditor/2.1.20/js/wangEditor.min.js', function(){
			edit();
		});
	} else {
		edit();
	}
}

</script>

<script src='{% static "/common/js/html_editor.js" %}'></script>
<style>
.wangEditor-container {
	height: 100%;
}
.wangEditor-txt {
	height: 100%;
}
</style>
<script type="text/x-template" id="note-post-editor-html-template">
	<div style="height: 100%; overflow: hidden;">
		<div id="note-post-editor-html-container">
		</div>
	</div>
</script>
<script>
Vue.component('note-post-editor-html', {
	delimiters: ['${', '}'],
	template: '#note-post-editor-html-template',
	data: function(){
		return {
			editor: null,
		};
	},
	props: {
		model: Object,
	},
	watch: {
		model: function(){
			this.reload();
		}
	},
	methods: {
		reload: function(){
			if(this.editor) {
				this.editor.$txt.html(this.model.rendered_html);
			} else {
				$("#note-post-editor-html-container").html(this.model.rendered_html);
			}
		}
	},
	mounted: function(){
		var self = this;
		EDIT_HTML('note-post-editor-html-container', function(editor){
			self.model.rendered_html = editor.$txt.html();
			self.editor = editor;
		});
		this.reload();
	}
});
</script>



<script>
var app = new Vue({
	delimiters: ['${', '}'],
	el: '#note_wrapper',
	data: {
	},
	computed: {
		blogs: function(){
			return BUS.blog_list;
		},
		show_posts: function(){
			return !(typeof(BUS.current_blog_btn_status)=='undefined');
		},
		show_comment: function(){
			return BUS.current_blog_btn=='comment';
		},
		show_navs: function(){
			return BUS.current_blog_btn=='navs';
		},
		show_setting: function(){
			return BUS.current_blog_btn=='setting';
		},
	},
	methods: {
		load_blog_list: function(){
			BUS.reload_blog_list();
		},
	},
	created: function(){
		this.load_blog_list();
	},
})
</script>
{% endblock %}
{% block content %}
<div id="note_wrapper" class="box-col">
	<div id="note_header" class="stretch box y-center">
		<a href='{% url "manage_contents" %}' style="font-weight: bolder; color: black;">Note</a>
		<!-- <input type="" name="" placeholder="Search//TODO" style="margin-left: 20px;"> -->
		<span style="margin-right: 20px;">
			<a href='{% url "accounts_index" %}'><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ request.user.username }}</a>
		</span>
	</div>
	<div id="note_body" class="stretch box">
		<div id="note_left">
			<note-blogs></note-blogs>
		</div>
		<div id="note_right" class="stretch">
			<note-posts v-if='show_posts'></note-posts>
			<note-comments v-if='show_comment'></note-comments>
			<note-blog-navs v-if='show_navs'></note-blog-navs>
			<note-blog-setting v-if='show_setting'></note-blog-setting>
		</div>
	</div>
</div>
<style>
#note_wrapper {
	padding: 10px;
	height: 100vh;
}
#note_header {
	flex: 0 0 32px;
	border-bottom: 1px dashed #777777;
	padding-bottom: 2px;
	justify-content: space-between;
}
#note_body {
	margin-top: 10px;
}
#note_left {
	flex: 0 0 180px;
}
#note_right {
	flex: 1;
	padding-left: 5px;
}
</style>
{% endblock %}




{% block js_API %}
<script>
var API = {
	blog_list: function(callback) {
		get_data('{% url "api:blog-list" %}', {}, function(data) {
			if(callback) callback(data);
		});
	},
	post_parameter: function(post){
		return _.omitBy({
			slug: post.slug,
			title: post.title,
			content: post.content,
			content_type: post.content_type,
			rendered_html: post.rendered_html,
			status: post.status,
			tags: JSON.stringify(post.tags),
			comments: post.comments,
			sticky: post.sticky,
		}, _.isNil)
	},
	post_list: function(filter, callback) {
		get_data('{% url "api:post-list" %}', filter, function(data){
			if(callback) callback(data);
		})
	},
	post_detail: function(post, callback) {
		if(post.api_url) {
			get_data(post.api_url, {}, function(data){
				if(callback) callback(data);
			})
		} else {
			callback();
		}
	},
	post_new: function(post, callback){
		post_data('{% url "api:post-list" %}', API.post_parameter(post), function(data){
			if(callback) callback(data);
		})
	},
	post_update: function(post, callback) {
		put_data(post.api_url, API.post_parameter(post), function(data){
			if(callback) callback(data);
		})
	},
	post_delete: function(post, callback) {
		delete_data(post.api_url, {}, function(data){
			if(callback) callback(data);
		})
	},
};
</script>
{% endblock %}





{% block js_BUS %}
<div id="BUS"></div>
<script>
var DEBUG = true;
var BUS = new Vue({
	el: '#BUS',
	data: {
		_blog_list: [],
		_blog__pk: -1,
		_blog__btn: 'posts',

		_post_list: [],
		_post__slug: '',

		_post_detail: null,
		_post_changed: false,
	},
	computed: {
		time_format: function(){
			return 'YYYY-MM-DD HH:mm:ss';
		},

		blog_list: function(){
			return this.$data._blog_list;
		},
		current_blog: function(){
			var f = _(this.blog_list).find(['pk', this.$data._blog__pk]);
			if( ! f) {
				f = this.blog_list[0];
				this.$data._blog__pk = f.pk;
				this.reload_post_list();
			}
			return f;
		},
		current_blog_btn: function(){
			return this.$data._blog__btn;
		},
		current_blog_btn_status: function(){
			var l = {
				posts: 'p',
				draft: 'd',
				trash: 't',
			}
			return l[this.current_blog_btn];
		},

		post_list: function(){
			return this.$data._post_list;
		},
		current_post: function(){
			var f = _(this.post_list).find(['slug', this.$data._post__slug]);
			if ( ! f) {
				return {};
			}
			return f;
		},

		post_detail: function(){
			return this.$data._post_detail;
		},

		post_changed: function(){
			return this.$data._post_changed && this.post_detail;
		},
		ask_quit: function(){
			return this.post_changed;
		},
	},
	watch: {
		post_detail: {
			deep: true,
			handler: function(val, oldVal){
				this.$data._post_changed = true;
			},
		},
		post_changed: function(){
			log('BUS.post_changed = '+this.$data._post_changed);
		},
	},
	methods: {
		reload_blog_list: function(){
			var self = this;
			API.blog_list(function(data){
				self.$data._blog_list = data;
			})
		},
		select_blog_function: function(blog, btn){
			this.$data._blog__pk = blog.pk;
			this.$data._blog__btn = btn;
			this.reload_post_list();
			this.$data._post_detail = null;
		},
		create_new_blog: function(){
			log('//TODO')
		},

		reload_post_list: function(){
			var self = this;
			API.post_list({
				pk: self.current_blog.pk,
				status: self.current_blog_btn_status,
			}, function(data){
				self.$data._post_list = data;
			})
		},
		select_post: function(post){
			this.$data._post__slug = post.slug;
			this.reload_post_detail();
		},
		create_new_post: function(type){
			var self = this;
			API.post_new({
				status: 'p',
				content: 'your new post',
				rendered_html: 'your new html post',
				content_type: type,
				tags: [],
			}, function(data){
				self.reload_blog_list();
				self.reload_post_list();
				self.$data._post__slug = data.slug;
				self.$data.current_post = data;
				self.reload_post_detail();
			})
		},

		reload_post_detail: function(){
			var self = this;
			var handler = function(){
				API.post_detail(self.current_post, function(data){
					self.$data._post_detail = data;
					setTimeout(function(){
						self.$data._post_changed = false;
					}, 0);
				})
			}
			if(self.post_changed) {
				self.save_post_detail(false, function(){
					handler();
				})
			} else {
				handler();
			}
		},
		save_post_detail: function(type, callback){
			var self = this;
			if(type) {
				self.post_detail.status = type;
			}
			API.post_update(self.post_detail, function(){
				self.$data._post_changed = false;
				self.reload_blog_list();
				self.reload_post_list();
				if(callback) callback();
			})
		},
		save_post_detail_public: function(){
			this.save_post_detail('p');
		},
		save_post_detail_draft: function(){
			this.save_post_detail('d');
		},
		delete_post_detail: function(){
			var self = this;
			API.post_delete(this.post_detail, function(){
				self.reload_blog_list();
				self.reload_post_list();
				self.$data._post__slug = -1;
				self.$data._post_detail = null
			});
		},
	},
	created: function(){
		var self = this;
		window.onbeforeunload = function(event) {
			if(self.ask_quit) {
				return "确定退出吗";
			}
		}
	}
});
</script>
{% endblock %}