{% extends './base.html' %}
{% load staticfiles %}

{% block title %}{{ post.title }}{% endblock %}

{% block cssext %}
<style>
.row {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}
.content-row {
	font-size: 18px;
}
#content {
	line-height: 1.8em;
}
h1 {
	font-size: 3ex;
	text-align: center;
}
p {
	margin: 0 0 .9em;
}
.last-modified-time {
	font-size: .8em;
}
.tags {
	font-size: .8em;
}
</style>
{% endblock %}


{% block content %}
<div class="row">
	<div class="content-row">
		<h1>{{ post.title }}</h1>
		<br>
		<p class="last-modified-time pull-right">编辑于： <script>document.write(moment('{{ post.last_modified_time | date:"c" }}').format('lll'));</script></p>
		<p class="tags"><i>Tags: {{ tags_href_string | safe }}</i></p>
		<br>
		<div id="content">{{ post.rendered_html | safe }}</div>
	</div>
	<hr>
	<div>
		<p>
			<span>本页链接：
				<a href="//{{ blog.domain }}{% url 'posts_detail' post.slug %}" id="current_url">{{ blog.domain }}{% url 'posts_detail' post.slug %}</a>
				<a href="javascript:void(0);" class="pull-right" id="qrcode_text">二维码</a>
				<div id="qrcode" class="pull-right" style="display: none; padding: 20px; background-color: white; z-index: 1000;"></div>
			</span>
		</p>
	</div>
	<hr>
</div>
{% endblock %}

{% block jsext %}
<script src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script>
$('#qrcode').qrcode(location.protocol+$("#current_url").attr('href'));
$("#qrcode_text").hover(function(){
	$('#qrcode').css('display', '');
	$('#qrcode').css('position', 'fixed');
	$('#qrcode').css('top', '0');
	$('#qrcode').css('left', '0');
}, function(){
	$('#qrcode').css('display', 'none');
});
</script>
{% endblock %}