{% extends './base.html' %}


{% block title %}Pages{% endblock %}


{% block css %}
{% endblock %}


{% block content %}
<div class="row">
	<br>
	<div>
		<a href="{% url 'manage:page_edit' %}" class="btn btn-primary">Create New Page</a>
	</div>
	<br>
	<table style="width: 100%;">
		<head>
			<tr>
				<th>Title</th>
				<th>Url</th>
				<th>Blog</th>
				<th>Comments</th>
				<th></th>
			</tr>
		</head>
		{% for page in pages %}
		<tr>
			<th><a href="{% url 'manage:page_edit' page.pk %}">{{ page.title }}</a></th>
			<th>
				<a href="//{{ page.blog.domain }}/{{ page.url }}" target="_blank">
				/{{ page.url }}/
				<i class="fa fa-external-link" aria-hidden="true"></i>
				</a>
			</th>
			<th>{{ page.blog.name }}</th>
			<th>{{ page.comments }}</th>
			<th><a href="javascript:delete_page('{{ page.blog.name }} - {{ page.title }}', '{% url 'manage:page_edit' page.pk %}');" class="btn-danger">Delete</a></th>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}


{% block js %}
<script>
function delete_page(name, url) {
	if(confirm('delete '+name+'?')){
		delete_data(url).complete(function(){
			location.reload();
		})
	}
}
</script>
{% endblock %}