{% extends './base.html' %}

{% block title %}{% endblock %}


{% block css %}
<style type="text/css">
#html_content {
	min-height: 300px;
}
#markdown_content, #markdown_preview {
	width: 100%;
	min-height: 300px;
}
textarea {
	resize: none;
}
</style>
{% endblock %}


{% block content %}
<div class="row" id="edit_app">
	<br>
	<div class="form-group">
		<input class="form-control" id="url" placeholder="">
		<br>
		<input class="form-control" id="title" placeholder="article title">
		<br>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#markdown_editor">Markdown</a></li>
			<li><a data-toggle="tab" href="#html_editor">Rich Text</a></li>
		</ul>

		<div class="tab-content">
			<div id="markdown_editor" class="tab-pane fade in active">
				<br>
				<div class="col-md-6">
					<textarea class="form-control" id="markdown_content" placeholder=""></textarea>
				</div>
				<div class="col-md-6">
					<div class="form-control" id="markdown_preview"></div>
				</div>
			</div>
			<div id="html_editor" class="tab-pane fade">
				<div id="html_content"></div>
			</div>
		</div>
	</div>

</div>
{% endblock %}


{% block js %}
<link href="//cdn.bootcss.com/wangeditor/2.1.20/css/wangEditor.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/wangeditor/2.1.20/js/wangEditor.min.js"></script>
<script>
var edit_app = new Vue({
	el: '#edit_app',
	data: {
		
	}
})
$("#markdown_content").on("input", function(){
	$("#markdown_preview").html(marked($("#markdown_content").val()));
});
var html_editor = null;
var edit_post = function(){
	if(html_editor) return;
	html_editor = new wangEditor('html_content');
	html_editor.config.jsFilter = false;
	html_editor.config.uploadImgUrl = '/api/img/';
	html_editor.config.uploadHeaders = {
		'X-CSRFToken': getCookie('csrftoken'),
	};
	html_editor.config.uploadImgFileName = 'file'
	html_editor.onchange = function(){
		//TODO
	};
	html_editor.create();
};
edit_post();
</script>
{% endblock %}