{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}Blog{% endblock %}


{% block css %}
{% endblock %}


{% block content %}
<div class="row">
	<form method="POST" action="" style="max-width: 400px" class="col-md-4">
	{% csrf_token %}
	{{ form | crispy }}
	<button class="btn btn-default" type="submit">Save</button>
	</form>
	<div class="col-md-4">
		<p>Date Joined: {{ request.user.date_joined }}</p>
		<p>Last Login: {{ request.user.last_login }}</p>
		<ul>
			<li><a href="#">Change passwrod</li>
		</ul>
	</div>
</div>
{% endblock %}


{% block js %}
<script>
</script>
{% endblock %}